<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Network -->
	<category label="32000">
		<setting type="sep" />
		<setting id="NETWORK" type="labelenum" label="32010" values="LAN|WLAN" sort="yes" default="LAN" />
		<setting id="IFACE" type="labelenum" label="32020" values="eth0|eth1|wlan0" sort="yes" default="eth0" />
		<setting type="sep" />
		<setting id="NETADDR" type="ipaddress" label="32031" default="" />
		<setting id="NETMASK" type="ipaddress" label="32032" default="255.255.255.0" />
		<setting id="GATEWAY" type="ipaddress" label="32040" default="" />
		<setting id="DNS_SERVER" type="ipaddress" label="32050" default="" />
		<setting type="sep" />
		<setting id="USE_DETECTED_SSID" type="bool" label="32061" default="false" visible="eq(-8,1)" />
		<setting id="DETECTED_SSID" type="select" label="32062" values="none" sort="yes" default="" visible="eq(-9,1) + eq(-1,true)" />
		<setting id="SSID" type="text" label="32060" default="" visible="eq(-10,1) + eq(-2,false)" />
		<setting id="HIDDEN" type="bool" label="32070" default="false" enable="!eq(-1,)" visible="eq(-11,1) + eq(-3,false)" />
		<setting id="SECURITY" type="labelenum" label="32080" values="NONE|WPA|RSN|WEP" sort="yes" default="NONE" enable="!eq(-2,) | eq(-4,true)" visible="eq(-12,1)" />
		<setting id="PASSPHRASE" type="text" option="hidden" label="32090" default="" enable="!eq(-1,0)" visible="eq(-13,1)" />
	</category>

	<!-- Services -->
	<category label="32200">
		<setting type="sep" />
		<setting id="SSH_SERVER" type="bool" label="32260" default="true" />
		<setting type="sep" />
		<setting id="TELNET_SERVER" type="bool" label="32210" default="true" />
		<setting type="sep" />
		<setting id="FTP_SERVER" type="bool" label="32220" default="true" />
		<setting type="sep" />
		<setting id="HTTP_SERVER" type="bool" label="32230" default="true" />
		<setting type="sep" />
		<setting id="SAMBA_SERVER" type="bool" label="32240" default="true" />
		<setting type="sep" />
		<setting id="ZEROCONF" type="bool" label="32250" default="true" />
	</category>
</settings>
